.cover{
    margin-top: 92px;
    max-width: 1184px;
}

 @media screen and (max-width: 768px){
    .cover{
        margin-top: 90px;
    } 
 }

 @media screen and (max-width: 320px){
    .cover{
        margin-top: 66px;
    } 
 }